@import 'tailwindcss';

@theme {
	--color-fg-primary: var(--fgColor);
	--color-bg-primary: var(--bgColor);
}

:root {
	--fgColor: #f8f8f2;
	--bgColor: #282a36;
}

[data-theme='dark'] {
	--fgColor: #f8f8f2;
	--bgColor: #282a36;
}

html, body {
	@apply font-sans antialiased bg-bg-primary text-fg-primary;
}