@import 'tailwindcss';

/* size/typography */
@import '../../node_modules/@primer/primitives/dist/css/base/size/size.css';
@import '../../node_modules/@primer/primitives/dist/css/base/typography/typography.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/size/border.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/size/breakpoints.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/size/size.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/size/viewport.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/typography/typography.css';

/* color */
@import '../../node_modules/@primer/primitives/dist/css/functional/themes/light.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/themes/light-tritanopia.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/themes/light-high-contrast.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/themes/light-colorblind.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/themes/dark.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/themes/dark-colorblind.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/themes/dark-dimmed.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/themes/dark-high-contrast.css';
@import '../../node_modules/@primer/primitives/dist/css/functional/themes/dark-tritanopia.css';

/*

Tokens: --<namespace>-<target>-<variant>-<ref>-<state>--<scale>
Example: --color-control-danger-rest or --color-controlreddanger-hover

--<namespace> = color, font, text, font-weight, tracking, leading, breakpoint, container, spacing, radius, shadow, inset-shadow, drop-shadow, blur, perspective, aspect, ease, animate
--<target> = button, input, select, label, text, border, etc.
--<variant> = default, primary, accent, secondary, attention, warning, danger, destructive, success, info etc.
--<ref> OPTIONAL = fg, bg, border, etc.
--<state> = rest, hover, active/focus, disabled/muted, (outline,) (emphasis,) (bright,) transparent etc.
--<scale> OPTIONAL = 0-9 for colors 0-13 for neutral/contrasts

*/
@theme {
	--font-sans: var(--font-app);
	--font-mono: var(--font-app);

	/* # Colors */

	/* ## Button */

	/* ### Primary */
	--color-control-primary-fg-rest: var(--color-gray-800);
	--color-control-primary-bg-rest: var(--color-gray-50);
	--color-control-primary-border-rest: var(--color-gray-600);

	--color-control-primary-fg-active: var(--color-gray-900);
	--color-control-primary-bg-active: var(--color-gray-100);
	--color-control-primary-border-active: var(--color-gray-700);

	--color-control-primary-fg-hover: var(--color-gray-800);
	--color-control-primary-bg-hover: var(--color-gray-100);
	--color-control-primary-border-hover: var(--color-gray-600);

	--color-control-primary-fg-disabled: var(--color-gray-500);
	--color-control-primary-bg-disabled: var(--color-gray-100);
	--color-control-primary-border-disabled: var(--color-gray-300);

	--color-control-primary-fg-outline: var(--color-gray-900);
	--color-control-primary-bg-outline: var(--color-gray-50);
	--color-control-primary-border-outline: var(--color-gray-800);

	/* ### Default */
	--color-control-default-fg-rest: var(--color-gray-900);
	--color-control-default-bg-rest: var(--color-gray-50);
	--color-control-default-border-rest: var(--color-gray-700);

	--color-control-default-fg-active: var(--color-gray-900);
	--color-control-default-bg-active: var(--color-gray-100);
	--color-control-default-border-active: var(--color-gray-700);

	--color-control-default-fg-hover: var(--color-gray-800);
	--color-control-default-bg-hover: var(--color-gray-100);
	--color-control-default-border-hover: var(--color-gray-600);

	--color-control-default-fg-disabled: var(--color-gray-500);
	--color-control-default-bg-disabled: var(--color-gray-100);
	--color-control-default-border-disabled: var(--color-gray-300);

	--color-control-default-fg-outline: var(--color-gray-900);
	--color-control-default-bg-outline: var(--color-gray-50);
	--color-control-default-border-outline: var(--color-gray-800);

	/* ### Secondary */
	--color-control-secondary-fg-rest: var(--color-gray-900);
	--color-control-secondary-bg-rest: var(--color-gray-50);
	--color-control-secondary-border-rest: var(--color-gray-700);

	--color-control-secondary-fg-active: var(--color-gray-900);
	--color-control-secondary-bg-active: var(--color-gray-100);
	--color-control-secondary-border-active: var(--color-gray-700);

	--color-control-secondary-fg-hover: var(--color-gray-800);
	--color-control-secondary-bg-hover: var(--color-gray-100);
	--color-control-secondary-border-hover: var(--color-gray-600);

	--color-control-secondary-fg-disabled: var(--color-gray-500);
	--color-control-secondary-bg-disabled: var(--color-gray-100);
	--color-control-secondary-border-disabled: var(--color-gray-300);

	--color-control-secondary-fg-outline: var(--color-gray-900);
	--color-control-secondary-bg-outline: var(--color-gray-50);
	--color-control-secondary-border-outline: var(--color-gray-800);

	/* ### Accent */
	--color-control-accent-fg-rest: var(--color-gray-900);
	--color-control-accent-bg-rest: var(--color-gray-50);
	--color-control-accent-border-rest: var(--color-gray-700);

	--color-control-accent-fg-active: var(--color-gray-900);
	--color-control-accent-bg-active: var(--color-gray-100);
	--color-control-accent-border-active: var(--color-gray-700);

	--color-control-accent-fg-hover: var(--color-gray-800);
	--color-control-accent-bg-hover: var(--color-gray-100);
	--color-control-accent-border-hover: var(--color-gray-600);

	--color-control-accent-fg-disabled: var(--color-gray-500);
	--color-control-accent-bg-disabled: var(--color-gray-100);
	--color-control-accent-border-disabled: var(--color-gray-300);

	--color-control-accent-fg-outline: var(--color-gray-900);
	--color-control-accent-bg-outline: var(--color-gray-50);
	--color-control-accent-border-outline: var(--color-gray-800);

	/* ### Attention */
	--color-control-attention-fg-rest: var(--color-gray-900);
	--color-control-attention-bg-rest: var(--color-gray-50);
	--color-control-attention-border-rest: var(--color-gray-700);

	--color-control-attention-fg-active: var(--color-gray-900);
	--color-control-attention-bg-active: var(--color-gray-100);
	--color-control-attention-border-active: var(--color-gray-700);

	--color-control-attention-fg-hover: var(--color-gray-800);
	--color-control-attention-bg-hover: var(--color-gray-100);
	--color-control-attention-border-hover: var(--color-gray-600);

	--color-control-attention-fg-disabled: var(--color-gray-500);
	--color-control-attention-bg-disabled: var(--color-gray-100);
	--color-control-attention-border-disabled: var(--color-gray-300);

	--color-control-attention-fg-outline: var(--color-gray-900);
	--color-control-attention-bg-outline: var(--color-gray-50);
	--color-control-attention-border-outline: var(--color-gray-800);

	/* ### Danger */
	--color-control-danger-fg-rest: var(--color-red-50);
	--color-control-danger-bg-rest: var(--color-red-800);
	--color-control-danger-border-rest: var(--color-red-200);

	--color-control-danger-fg-active: var(--color-red-900);
	--color-control-danger-bg-active: var(--color-red-200);
	--color-control-danger-border-active: var(--color-red-700);

	--color-control-danger-fg-hover: var(--color-red-200);
	--color-control-danger-bg-hover: var(--color-red-800);
	--color-control-danger-border-hover: var(--color-red-200);

	--color-control-danger-fg-disabled: var(--color-red-100);
	--color-control-danger-bg-disabled: var(--color-red-900);
	--color-control-danger-border-disabled: var(--color-red-100);

	--color-control-danger-fg-outline: var(--color-red-800);
	--color-control-danger-bg-outline: var(--color-red-50);
	--color-control-danger-border-outline: var(--color-red-800);


	/* --color-black: var(--base-color-black);
	--color-white: var(--base-color-white);

	--color-fg-accent: var(--base-color-blue-5);
	--color-fg-attention: var(--fg-attention);
	--color-fg-black: var(--fg-black);
	--color-fg-danger: var(--fg-danger);
	--color-fg-default: var(--fg-default);
	--color-fg-link: var(--fg-link);
	--color-fg-disabled: var(--fg-disabled);
	--color-fg-muted: var(--fg-muted);
	--color-fg-neutral: var(--fg-neutral);

	--color-bg-0: var(--base-color-neutral-0);
	--color-bg-1: var(--base-color-neutral-1);
	--color-bg-2: var(--base-color-neutral-2);
	--color-bg-3: var(--base-color-neutral-3);
	--color-bg-4: var(--base-color-neutral-4);
	--color-bg-5: var(--base-color-neutral-5);
	--color-bg-6: var(--base-color-neutral-6);

	--color-accent-0: var(--base-color-neutral-7);
	--color-accent-1: var(--base-color-neutral-8);

	--color-fg-0: var(--base-color-neutral-9);
	--color-fg-1: var(--base-color-neutral-10);
	--color-fg-2: var(--base-color-neutral-11);
	--color-fg-3: var(--base-color-neutral-12);
	--color-fg-4: var(--base-color-neutral-13);

	--color-disabled-attention: var(--color-attention);

	--color-attention-0: var(--base-color-orange-0);
	--color-attention-1: var(--base-color-orange-1);
	--color-attention-2: var(--base-color-orange-2);
	--color-attention-3: var(--base-color-orange-3);
	--color-attention-4: var(--base-color-orange-4);
	--color-attention-5: var(--base-color-orange-5);
	--color-attention-6: var(--base-color-orange-6);
	--color-attention-7: var(--base-color-orange-7);
	--color-attention-8: var(--base-color-orange-8);
	--color-attention-9: var(--base-color-orange-9);
	--color-warning-0: var(--base-color-yellow-0);
	--color-warning-1: var(--base-color-yellow-1);
	--color-warning-2: var(--base-color-yellow-2);
	--color-warning-3: var(--base-color-yellow-3);
	--color-warning-4: var(--base-color-yellow-4);
	--color-warning-5: var(--base-color-yellow-5);
	--color-warning-6: var(--base-color-yellow-6);
	--color-warning-7: var(--base-color-yellow-7);
	--color-warning-8: var(--base-color-yellow-8);
	--color-warning-9: var(--base-color-yellow-9);
	--color-success-0: var(--base-color-green-0);
	--color-success-1: var(--base-color-green-1);
	--color-success-2: var(--base-color-green-2);
	--color-success-3: var(--base-color-green-3);
	--color-success-4: var(--base-color-green-4);
	--color-success-5: var(--base-color-green-5);
	--color-success-6: var(--base-color-green-6);
	--color-success-7: var(--base-color-green-7);
	--color-success-8: var(--base-color-green-8);
	--color-success-9: var(--base-color-green-9);
	--color-accent-0: var(--base-color-blue-0);
	--color-accent-1: var(--base-color-blue-1);
	--color-accent-2: var(--base-color-blue-2);
	--color-accent-3: var(--base-color-blue-3);
	--color-accent-4: var(--base-color-blue-4);
	--color-accent-5: var(--base-color-blue-5);
	--color-accent-6: var(--base-color-blue-6);
	--color-accent-7: var(--base-color-blue-7);
	--color-accent-8: var(--base-color-blue-8);
	--color-accent-9: var(--base-color-blue-9);
	--color-info-0: var(--base-color-purple-0);
	--color-info-1: var(--base-color-purple-1);
	--color-info-2: var(--base-color-purple-2);
	--color-info-3: var(--base-color-purple-3);
	--color-info-4: var(--base-color-purple-4);
	--color-info-5: var(--base-color-purple-5);
	--color-info-6: var(--base-color-purple-6);
	--color-info-7: var(--base-color-purple-7);
	--color-info-8: var(--base-color-purple-8);
	--color-info-9: var(--base-color-purple-9);
	--color-danger-0: var(--base-color-red-0);
	--color-danger-1: var(--base-color-red-1);
	--color-danger-2: var(--base-color-red-2);
	--color-danger-3: var(--base-color-red-3);
	--color-danger-4: var(--base-color-red-4);
	--color-danger-5: var(--base-color-red-5);
	--color-danger-6: var(--base-color-red-6);
	--color-danger-7: var(--base-color-red-7);
	--color-danger-8: var(--base-color-red-8);
	--color-danger-9: var(--base-color-red-9);
	--color-link-0: var(--base-color-blue-0);
	--color-link-1: var(--base-color-blue-1);
	--color-link-2: var(--base-color-blue-2);
	--color-link-3: var(--base-color-blue-3);
	--color-link-4: var(--base-color-blue-4);
	--color-link-5: var(--base-color-blue-5);
	--color-link-6: var(--base-color-blue-6);
	--color-link-7: var(--base-color-blue-7);
	--color-link-8: var(--base-color-blue-8);
	--color-link-9: var(--base-color-blue-9); */
}

/*

Tokens: --<target>-<color>-<state|scale>
Example: --fg-neutral-0 or --button-accent-muted
--<target> = fg, bg, button, input, select, label, text, border, etc.
--<color> = neutral, accent, attention, warning, success, info, danger, link
--<state> = rest, hover, active, focus, disabled, outline, muted, emphasis, bright, selected, transparent etc.
--<scale> = 0-9 for colors 0-13 for neutral/contrasts

*/
:root {}

@media (prefers-color-scheme: dark) {
	:root {}
}

@layer utilities {

	/* .color-0 {
		color: var(--color-fg-9);
		background-color: var(--color-bg-0);
	}
	.color-1 {
		color: var(--color-fg-9);
		background-color: var(--color-bg-1);
	}
	.color-2 {
		color: var(--color-fg-9);
		background-color: var(--color-bg-2);
	}
	.color-3 {
		color: var(--color-fg-9);
		background-color: var(--color-bg-3);
	}
	.color-4 {
		color: var(--color-fg-9);
		background-color: var(--color-bg-4);
	}
	.color-5 {
		color: var(--color-fg-10);
		background-color: var(--color-bg-5);
	}
	.color-6 {
		color: var(--color-fg-10);
		background-color: var(--color-bg-6);
	}

	.color-7 {
		color: var(--color-fg-11);
		background-color: var(--color-bg-6);
	}

	.color-7 {
		color: var(--color-fg-12);
		background-color: var(--color-bg-6);
	}

	.color-8 {
		color: var(--color-fg-13);
		background-color: var(--color-bg-6);
	} */

	/*
	Color scales from https://primer.style/foundations/color/base-scales

	Background: neutral 0-6
	Borders and dividers: neutral 7-8
	Text and icons: neutral 9-13

	|    Text    | Background |
	| ---------- | ---------- |
	| neutral 9  | neutral 0  |
	| neutral 9  | neutral 1  |
	| neutral 9  | neutral 2  |
	| neutral 9  | neutral 3  |
	| neutral 9  | neutral 4  |
	| neutral 10 | neutral 5  |
	| neutral 10 | neutral 6  |
*/

	/* Theme: Light */
	/*
	:root {
		--base-color-neutral-0: #ffffff;
		--base-color-neutral-1: #f6f8fa;
		--base-color-neutral-2: #eff2f5;
		--base-color-neutral-3: #e6eaef;
		--base-color-neutral-4: #e0e6eb;
		--base-color-neutral-5: #dae0e7;
		--base-color-neutral-6: #d1d9e0;
		--base-color-neutral-7: #c8d1da;
		--base-color-neutral-8: #818b98;
		--base-color-neutral-9: #59636e;
		--base-color-neutral-10: #454c54;
		--base-color-neutral-11: #393f46;
		--base-color-neutral-12: #25292e;
		--base-color-neutral-13: #1f2328;

		--base-color-blue-0: #ddf4ff;
		--base-color-blue-1: #b6e3ff;
		--base-color-blue-2: #80ccff;
		--base-color-blue-3: #54aeff;
		--base-color-blue-4: #218bff;
		--base-color-blue-5: #0969da;
		--base-color-blue-6: #0550ae;
		--base-color-blue-7: #033d8b;
		--base-color-blue-8: #0a3069;
		--base-color-blue-9: #002155;

		--base-color-green-0: #dafbe1;
		--base-color-green-1: #aceebb;
		--base-color-green-2: #6fdd8b;
		--base-color-green-3: #4ac26b;
		--base-color-green-4: #2da44e;
		--base-color-green-5: #1a7f37;
		--base-color-green-6: #116329;
		--base-color-green-7: #044f1e;
		--base-color-green-8: #003d16;
		--base-color-green-9: #002d11;

		--base-color-yellow-0: #fff8c5;
		--base-color-yellow-1: #fae17d;
		--base-color-yellow-2: #eac54f;
		--base-color-yellow-3: #d4a72c;
		--base-color-yellow-4: #bf8700;
		--base-color-yellow-5: #9a6700;
		--base-color-yellow-6: #7d4e00;
		--base-color-yellow-7: #633c01;
		--base-color-yellow-8: #4d2d00;
		--base-color-yellow-9: #3b2300;

		--base-color-orange-0: #fff1e5;
		--base-color-orange-1: #ffd8b5;
		--base-color-orange-2: #ffb77c;
		--base-color-orange-3: #fb8f44;
		--base-color-orange-4: #e16f24;
		--base-color-orange-5: #bc4c00;
		--base-color-orange-6: #953800;
		--base-color-orange-7: #762c00;
		--base-color-orange-8: #5c2200;
		--base-color-orange-9: #471700;

		--base-color-red-0: #ffebe9;
		--base-color-red-1: #ffcecb;
		--base-color-red-2: #ffaba8;
		--base-color-red-3: #ff8182;
		--base-color-red-4: #fa4549;
		--base-color-red-5: #cf222e;
		--base-color-red-6: #a40e26;
		--base-color-red-7: #82071e;
		--base-color-red-8: #660018;
		--base-color-red-9: #4c0014;

		--base-color-purple-0: #fbefff;
		--base-color-purple-1: #ecd8ff;
		--base-color-purple-2: #d8b9ff;
		--base-color-purple-3: #c297ff;
		--base-color-purple-4: #a475f9;
		--base-color-purple-5: #8250df;
		--base-color-purple-6: #6639ba;
		--base-color-purple-7: #512a97;
		--base-color-purple-8: #3e1f79;
		--base-color-purple-9: #2e1461;

		--base-color-pink-0: #ffeff7;
		--base-color-pink-1: #ffd3eb;
		--base-color-pink-2: #ffadda;
		--base-color-pink-3: #ff80c8;
		--base-color-pink-4: #e85aad;
		--base-color-pink-5: #bf3989;
		--base-color-pink-6: #99286e;
		--base-color-pink-7: #772057;
		--base-color-pink-8: #611347;
		--base-color-pink-9: #4d0336;

		--base-color-coral-0: #fff0eb;
		--base-color-coral-1: #ffd6cc;
		--base-color-coral-2: #ffb4a1;
		--base-color-coral-3: #fd8c73;
		--base-color-coral-4: #ec6547;
		--base-color-coral-5: #c4432b;
		--base-color-coral-6: #9e2f1c;
		--base-color-coral-7: #801f0f;
		--base-color-coral-8: #691105;
		--base-color-coral-9: #510901;

		--base-color-black: #1f2328;
		--base-color-white: #ffffff;
	}*/


/*
Theme: Dark
*/

/*
	@media (prefers-color-scheme: dark) {
		:root {
			--base-color-neutral-0: #010409;
			--base-color-neutral-1: #0d1117;
			--base-color-neutral-2: #151b23;
			--base-color-neutral-3: #212830;
			--base-color-neutral-4: #262c36;
			--base-color-neutral-5: #2a313c;
			--base-color-neutral-6: #2f3742;
			--base-color-neutral-7: #3d444d;
			--base-color-neutral-8: #656c76;
			--base-color-neutral-9: #9198a1;
			--base-color-neutral-10: #b7bdc8;
			--base-color-neutral-11: #d1d7e0;
			--base-color-neutral-12: #f0f6fc;
			--base-color-neutral-13: #ffffff;

			--base-color-blue-0: #cae8ff;
			--base-color-blue-1: #a5d6ff;
			--base-color-blue-2: #79c0ff;
			--base-color-blue-3: #58a6ff;
			--base-color-blue-4: #388bfd;
			--base-color-blue-5: #1f6feb;
			--base-color-blue-6: #1158c7;
			--base-color-blue-7: #0d419d;
			--base-color-blue-8: #0c2d6b;
			--base-color-blue-9: #051d4d;

			--base-color-green-0: #aff5b4;
			--base-color-green-1: #7ee787;
			--base-color-green-2: #56d364;
			--base-color-green-3: #3fb950;
			--base-color-green-4: #2ea043;
			--base-color-green-5: #238636;
			--base-color-green-6: #196c2e;
			--base-color-green-7: #0f5323;
			--base-color-green-8: #033a16;
			--base-color-green-9: #04260f;

			--base-color-yellow-0: #f8e3a1;
			--base-color-yellow-1: #f2cc60;
			--base-color-yellow-2: #e3b341;
			--base-color-yellow-3: #d29922;
			--base-color-yellow-4: #bb8009;
			--base-color-yellow-5: #9e6a03;
			--base-color-yellow-6: #845306;
			--base-color-yellow-7: #693e00;
			--base-color-yellow-8: #4b2900;
			--base-color-yellow-9: #341a00;

			--base-color-orange-0: #ffdfb6;
			--base-color-orange-1: #ffc680;
			--base-color-orange-2: #ffa657;
			--base-color-orange-3: #f0883e;
			--base-color-orange-4: #db6d28;
			--base-color-orange-5: #bd561d;
			--base-color-orange-6: #9b4215;
			--base-color-orange-7: #762d0a;
			--base-color-orange-8: #5a1e02;
			--base-color-orange-9: #3d1300;

			--base-color-red-0: #ffdcd7;
			--base-color-red-1: #ffc1ba;
			--base-color-red-2: #ffa198;
			--base-color-red-3: #ff7b72;
			--base-color-red-4: #f85149;
			--base-color-red-5: #da3633;
			--base-color-red-6: #b62324;
			--base-color-red-7: #8e1519;
			--base-color-red-8: #67060c;
			--base-color-red-9: #490202;

			--base-color-purple-0: #eddeff;
			--base-color-purple-1: #e2c5ff;
			--base-color-purple-2: #d2a8ff;
			--base-color-purple-3: #bc8cff;
			--base-color-purple-4: #a371f7;
			--base-color-purple-5: #8957e5;
			--base-color-purple-6: #6e40c9;
			--base-color-purple-7: #553098;
			--base-color-purple-8: #3c1e70;
			--base-color-purple-9: #271052;

			--base-color-pink-0: #ffdaec;
			--base-color-pink-1: #ffbedd;
			--base-color-pink-2: #ff9bce;
			--base-color-pink-3: #f778ba;
			--base-color-pink-4: #db61a2;
			--base-color-pink-5: #bf4b8a;
			--base-color-pink-6: #9e3670;
			--base-color-pink-7: #7d2457;
			--base-color-pink-8: #5e103e;
			--base-color-pink-9: #42062a;

			--base-color-coral-0: #ffddd2;
			--base-color-coral-1: #ffc2b2;
			--base-color-coral-2: #ffa28b;
			--base-color-coral-3: #f78166;
			--base-color-coral-4: #ea6045;
			--base-color-coral-5: #cf462d;
			--base-color-coral-6: #ac3220;
			--base-color-coral-7: #872012;
			--base-color-coral-8: #640d04;
			--base-color-coral-9: #460701;

			--base-color-black: #010409;
			--base-color-white: #ffffff;

		}
	}
*/
}